.pizza__page{
  margin-top: 80px;
  .pizza__page__container{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    @media (max-width: 650px) {
      width: 95%;
    }
    .not__pizzas{
      margin-top: 50px;
    }
  }
}